body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 4.625em;
  color: #66bfbf;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
  padding-bottom: 10px;
}
h3 {
  font-family: 'Montserrat', sans-serif;
}
p {
  line-height: 2;
}
hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto 100px auto;
}
a {
  color: #eaf6f6;
  text-decoration: none;
}
.top-container {
  background-color: #d7f7f5;
  position: relative;
  padding-top: 100px;
}
.middle-container {
  margin: 100px 0 100px 0;
}
.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 50px 0;
}
.bottom-cloud {
  position: absolute;
  left: 200px;
  bottom: 300px;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.top-cloud {
  position: absolute;
  right: 280px;
  top: 50px;
}
.edu-details {
  float: left;
  margin-right: 30px;
}
.code-img {
  float: right;
  margin-right: 30px;
}
.intro {
  width: 30%;
  margin: auto;
}
.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  text-shadow: 0px 1px 3px #666666;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 24px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0 20px 0;
}
